[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
